*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background-attachment:fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}



.mainSection {
  display: grid;
  height: 20vh;
  grid-template-rows: 5% 10%;
  grid-template-columns: auto auto auto;
  grid-template-areas:
      'header header header'
}
header{
  
  color: white;
  background-color: rgb(5, 5, 5);
  padding: 30px 100px 100px 100px;
  border: 1px solid black;
  grid-area: header;
}

h1 {
  font-family: 'Tangerine', serif;
  border: solid 1px black;
  padding: 1rem;
  text-align: center;
  grid-area: h1;
}

.button1 {
  position: absolute;
  left: 55px;
  top: 40px;
  padding: 0px;
}

.button2 {
  position: absolute;
  right: 10px;
  top: 40px;
  padding: 0px;
}

.button3 {
  position: absolute;
  left: 10px;
  top: 40px;
  padding: 0px;
}

.div1 {
  border: 0.5rem solid #290c0c;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding: 2rem;
  width: 60% ; 
  margin: 0 auto; 
  
}

.div1 > div {
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #22030356;
  padding: 2em;
  color: #000000;
}

.project {
  list-style-type: none;
  text-align: center;

 
}
li {
  list-style-type: none;
}
.div2 {
margin-left: 2rem;
margin-right: 2rem;
}
.div3 {
  text-align: center;
}

@media screen and  (min-width: 40em) {
.div2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: none;
  padding: 1rem;
  gap: 1rem;
}

}
.input1 {
  border: black 1rem;
  border-radius: 0;
  width: 80%;
  margin: auto;
  font-size: 16px;
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.151);
  color: black;
}
.input2 {
    width: 50%;
}
.addButton {
  padding: 1rem;
  width: 5rem;
  background: #d9d9d9;
  color: #555;
  
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}



@media screen and (min-width: 80rem){
  .div2 {
    grid-template-columns: auto auto auto;
  }
}

.project {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
box-shadow: 0.3rem 0.3rem 2rem 0.5rem rgba(0,0,0,0.25), -0.3rem -0.3rem 2rem 0.5rem rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s; 
  color: white;
}