*
*
{
    padding: 0;
    margin: 0;
    

}

.bg {
    background-attachment:fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: background;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
.mainSection {
    display: grid;
    height: 20vh;
    grid-template-rows: 5% 10%;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        'header header header'
}
header{
    color: white;
    background-color: rgb(5, 5, 5);
    padding: 30px 100px 100px 100px;
    border: 1px solid black;
    grid-area: header;
}
h1 {
    border: solid 1px black;
    padding: 1rem;
    text-align: center;
    grid-area: h1;
}

.listHeader {
    padding: 10px;
    text-align: center;
}

.button1 {
    position: absolute;
    left: 55px;
    top: 40px;
    padding: 0px;
}

.button2 {
    position: absolute;
    right: 10px;
    top: 40px;
    padding: 0px;
}

.button3 {
    position: absolute;
    left: 10px;
    top: 40px;
    padding: 0px;
}

.lists {

    float: center;
    border: 0.5rem solid #290c0c;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 2rem;
    width: 80% ; 
    margin: 0 auto; 
    
    background-image: url("/images/deerinmountain.jpg");
    background-repeat: no-repeat;
    
   
}

.card {
    position: relative;
    margin: 0;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 2rem 0.5rem rgba(255, 117, 108, 0.705), -0.3rem -0.3rem 2rem 0.5rem rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s; 
    background-repeat: no-repeat;
    background-size: cover;
}

.taskLists{
    text-align: center;
    
}

.task {
    
    margin-bottom: 1rem;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    border-color: black;
    cursor: pointer;
    transition: 0.4s; 
    background-color: rgba(255, 255, 255, 0.267);
    background-repeat: no-repeat;
    background-size: cover;
}



  
  /* Clear floats after the columns */
  .card:after {
    content: "";
    display: table;
    clear: both;
  }
  
  li {
    list-style-type: none;
}

  @media screen and (min-width: 20em) {
    .lists {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: none;
        padding: 1rem;
        gap: 1rem;
    }

}

@media screen and (min-width: 40em) {
    .lists {
        grid-template-columns: auto auto;
        
        }
    }

@media screen and (min-width: 60em) {
        .lists {
            grid-template-columns: auto auto auto;
            }
            
        }
        
@keyframes background {
    0%   {background-color:rgb(233, 108, 81); left:0px; top:0px;}
    50%  {background-color:rgb(44, 49, 88); left:200px; top:200px;}
    100% {background-color:rgb(233, 108, 81); left:0px; top:0px;}
  }